* {
    font-family: "Roboto";
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    letter-spacing: 1px;
    box-sizing: border-box;
}

/* Footer */

.footer-section{
    /*position: absolute;
    bottom: 0;
    left: 0;
    right: 0;*/
}

.footer {
    position: relative;
    background-color: #3d3d3d;
    color: #c5c5c5;
    z-index: 10001;
    padding: 55px 0 40px;
}
.footer h5 {
    font-size: 18px;
    font-weight: 700;
    /*font-family: 'Open Sans', sans-serif;*/
    color: #fff;
    position: relative;
    padding-bottom: 16px;
}
/*.footer h5:after {
    content: '';
    display: block;
    margin: 5px 0 0;
    width: 8px;
    height: 14px;
    background-color: #ff8500;
}*/
.footer ul {
    list-style: none;
    line-height: 1.8em;
    padding-left:0px;
}
.footer ul a {
    color:#c5c5c5;
}
.footer ul a:hover {
    color:#ff8500;
}
/*footer bottom */
.footer-bottom {
    padding-top: 5px;
    padding-bottom: 5px;
    border-top: 1px solid #696969;
    background: #535963;

}
.copyright-text p {
    color: #cfcfd1;
    /*margin-top: 18px;*/
    margin-bottom: 0;
    font-size:12px;
}

/*footer-social icon */
/*.bigpixi-footer-social {
    margin-left: auto;
    margin-top: 8px;
}

.bigpixi-footer-social__list-item {
    display: inline-block;
    margin-left: 10px;
}
.bigpixi-footer__icon-link {
    display: inline-block;
    -webkit-transition: 0.1s cubic-bezier(0.39, 0.575, 0.565, 1);
    transition: 0.1s cubic-bezier(0.39, 0.575, 0.565, 1);
    -webkit-transition-property: opacity, -webkit-transform;
    transition-property: opacity, -webkit-transform;
    transition-property: opacity, transform;
    transition-property: opacity, transform, -webkit-transform;
}
.bigpixi-footer-social__icon {
    display: inline-block;
    height: 32px;
    width: 32px;
    padding:5px;
    border : 1px solid #696969;
    border-radius:20px;

}

.bigpixi-footer-social__icon:hover {
    display: inline-block;
    padding: 2px;
    transition : .75s;
    background: #ff8500;
}*/


/*h5 {
    font-size: 1.28571429em;
    font-weight: 700;
    line-height: 1.2857em;
    margin: 0;
}*/