* {
    font-family: "Roboto";
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    letter-spacing: 1px;
    box-sizing: border-box;
}

/*--------------Content----------*/


.content {
    background: #f9fafa;
    padding: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.site-heading{
    margin-top: 5%;
}

.blog-section{
    min-height: 550px;
}

.bg-grey {
    border-top: 1px solid rgba(0, 0, 0, .1);
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    background-color: #f5f5f5;
}
.bg-dgrey {
    border-top: 1px solid rgba(0, 0, 0, .1);
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    background-color: #414551;
    color:#fff;
}


.TBpadding10 {
    padding-top:10px;
    padding-bottom:10px;
}
.paddingTB60{
    padding-top:60px;
    padding-bottom:60px;
}
.paddingTLR35 {
    padding: 15px 15px 15px;
}

.border {
    background: #e8500e none repeat scroll 0 0;
    border-radius: 2px;
    display: inline-block;
    height: 2px;
    position: relative;
    width: 250px;
    margin-bottom:25px;

}


/*-----------Order block------------*/
.container-order {
    width: 800px;
    margin: 80px auto 80px;
    background-color: #fff;
    padding: 0 20px 20px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.075);
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.075);
    -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.075);
    text-align: center;
    font-size: 20px;
}

.details{
    padding-top: 3%;
}

.details, .order-info .row{
    padding-left: 5%;
}

.details li {
    list-style: none;
    margin-bottom:10px;
}

.glyphicon-order{
    width: 50px;
}

.glyphicon-remove{
    color: #d9534f;
}
.glyphicon-ok{
    color: #5cb85c;
}



/*----------Sticker---------*/
[class*="sticker"] {
    position: relative;
    margin: 15px 0;
    padding: 33px 15px 15px;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 4px 28px rgba(0,0,0,0.25), 0 5px 10px rgba(0,0,0,0.22);
}
[class*="sticker"]:after {
    content: attr(data-sticker);
    position: absolute;
    top: 0;
    padding: 3px 7px;
    font-size: 20px;
    font-weight: bold;
    background: #999;
    color: #fff;
}
.sticker-left {
    border-top-left-radius: 6px;
}
.sticker-right {
    border-top-right-radius: 6px;
}
.sticker-left:after {
    left: 0;
    border-radius: 6px 0 6px 0;
}
.sticker-right:after {
    right: 0;
    border-radius: 0 6px 0 6px;
}
.sticker-danger:after {
    background: #d9534f;
}
.sticker-warning:after {
    background: #f0ad4e;
}
.sticker-success:after {
    background: #5cb85c;
}
.sticker-info:after {
    background: #5bc0de;
}
.sticker-inverse:after {
    background: #222;
}

/*Buttons*/
.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .2s;
}


.btn-primary.btn-outline {
    color: #535963;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

.order-info .row .btn{
    width: 100%;
}


/*-----------Pagination----------*/

.pagination ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.pagination a{
    display: inline-block;
    color: #222;
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    text-align: center;
}

.pagination a.is-active{
    background-color: #535963;
    border-radius: 100%;
    color: #fff;
}

